name: Deploy via ftp
uses: locaweb/ftp-deploy@1.0.0
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: FTP Deploy Locaweb
        uses: locaweb/ftp-deploy@1.0.0
        with:
          host: ${{ secrets.LOCAWEB_HOST }}
          user: ${{ secrets.LOCAWEB_USER }}
          password: ${{ secrets.LOCAWEB_PASSWORD }}
          localDir: "public_html"
